<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1">
    <tr>
        <th>Model</th>
        <th>Year of manufacture</th>
        <th>Price</th>
    </tr>
    <div>
        <th:block th:each="msg : ${printCars}">
            <tr th:border="1">
                <td th:text="${msg.getModel()}"></td>
                <td th:text="${msg.getYearOfManufacture()}"></td>
                <td th:text="${msg.getPrice()}"></td>
            </tr>
        </th:block>
    </div>
</table>
</body>
</html>